
/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
  margin: 60px auto 15px;
  width: 300px;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}


.comment-main-level {

  display: block;
  clear: both;
}

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {

  width: 65px;
  height: 65px;
  position: relative;
  float: left;
  border: 3px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
  width: 300px;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comment-box .comment-head {
  background: #FCFCFC;
  padding: 10px 12px;
  border-bottom: 1px solid #E5E5E5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

textarea{
  resize: none;
}

.postCom {
  margin-top: 10px;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid transparent;
  background-color: #E5E5E5;
}
.postCom:focus {
  outline:none;
}

.subBtn{
}

::placeholder {
  font-size: 15px;
}
